nav {
  background-color: rgb(101, 165, 255);
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
  }

  a.active {
    text-decoration: underline;
    font-weight: bold;
  }

  a.selected {
    color: aliceblue;
    text-decoration: underline;
    font-weight: bold;
  }
}
